.login_container {
  background-color: #42484e;
  max-width: unset;
}

.login_container .container {
  border: none;
  margin: 0 15vw;
  max-width: 70vw;
}

.login_container .container .row {
  max-width: 70vw;
  color: white;
}

.login_container .container .row > div:first-child {
  margin: 2em 0;
  margin-left: 0;
  padding-left: 0;
}
.login_container .container .row > div:first-child > h2 {
  margin-bottom: 0;
}
.login_container .container .row > div:first-child > p {
  max-width: 90%;
}

.login_container .container .row > div:nth-child(2) {
  align-self: center;
}

.login_container .container .row > div:nth-child(2) > input {
  width: 80%;
  margin-left: -10%;
  height: 2.5em;
}
.login_container .container .row > div:nth-child(2) > button {
  height: 2.6em;
  margin-top: -0.4em;
}

.login_container .container .row > div:nth-child(3) {
  display: flex;
  align-items: center;
}

.login_container .container .row > div:nth-child(3) > img:first-child {
  margin-left: auto;
}
.login_container .container .row > div:nth-child(3) > img:last-child {
  margin-left: 0.5em;
}

@media (max-width: 1420px) {
  .login_container .container .row > div:nth-child(2) > button {
    padding-left: 0;
    padding-right: 0;
    font-weight: 800;
  }
}

@media (max-width: 1076px) {
  .login_container .container .row > div:nth-child(2) > button {
    margin-top: 0.5em;
  }
  .login_container .container .row > div:nth-child(2) > input {
    margin-left: 0;
  }
  .login_container .container .row > div:nth-child(2) {
    text-align: center;
  }
}
